<div class="outter-div" >
  <div class="inner-div">
      <div class="row">
          <div class="main-content">
              <h1 id="welcome-heading"><strong>UACT</strong></h1>
              <h1 id="welcome-heading-subtext">All the world’s a stage...</h1>
              <%= link_to 'Get Started', plays_path,class:"btn btn-default" %>
          </div>
  </div>
</div>
