<div id="homepage_content" data-mercury="full" contenteditable="true" class="index-info">
    <%= @homepage %>
</div>

    <%= link_to "Edit Page", 
        "/editor",
        class:"btn btn-default",
        id:"edit_link", #HTML id. Used in mercury.js to hide this link after clicking it
        data:{ save_url: mercury_update_index_page_path } #route for mercury to save to. relevant path is extracted in mercury.js
    %>