<p id="notice"><%= notice %></p>

<% if can? :create, @events %>
    <%= link_to 'New Event', new_event_path,class: 'btn btn-primary' %>
<% end %>

<h1>Events</h1>

<% @events.each_with_index do |event,index| %>
    <%= render partial:'layouts/event', locals:{:event => event,:is_even=>(index%2==0) } %>
<% end %>
