header{
  text-align: center;
  a:link, a:visited{
    padding: 0.1 * $header-img-default-length;
    font-size: 2.5rem;
    display: block;
    color:$font-color;
    text-decoration: none;

    img{
        height:auto;
        width: 100px;
    }
    span{
        display: inline-block;
        height:100%;
    }
  }
  a:hover, a:visited:hover{
      color:$font-hover-color;
      background-color: white;
  }
}

@include media-query($on-laptop) {
  header{
    a:link, a:visited{
      font-size: 2rem;
      img{
        width: 0.7 * $header-img-default-length;
      }
    }
    span{
        vertical-align: middle;
        width: 150px;
    }
  }
}
