
$footer_height:75px;

footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: $footer_height;
    background:linear-gradient(#d3d3d3, #A9A9A9);
    text-align: center;
    
    .location{
        margin:5px;
        float:left;
        display: inline-block;
    }
    .contact{
        margin:5px;
        float:right;
        display: inline-block;
    }
} 
