$font-color:black;
$font-hover-color:lightgray;

header{
    a:link, a:visited{
        padding:20px;
        font-size: 2.5rem;
        display: block;
        height:100%;
        color:$font-color;
        
        img{
            height:auto;
            width: 100px;
        }
        span{
            display: inline-block;
        }
        
        @media (max-width: 768px) { 
            text-align: center;
            span{
                width:200px;
                vertical-align: top;
            }
        }
    }
    a:hover, a:visited:hover{
        color:$font-hover-color;
        text-decoration: none;
        background-color: transparent;
    }
}