// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
    text-align: center;
    padding: 1em;
    margin:0;
}

#show-all-plays{
    text-align: center;
    .play-unit-outer-wrap{
        box-shadow: 0px 0px 10px #888888;
        vertical-align:top;
        background-color: white;
        padding:10px;
        margin:10px;
        text-align: center;
        border-radius: 5px;
        display: inline-block;
        width:320px;
        height:320px;
        color:black;

        .play-unit-inner-wrap{
            background-color: rgba(192, 154, 10,.75);
            border-radius: 5px;
            width:100%;
            height:100%;
            padding:5px;
            margin:0px;
            position:relative;
        }

        img{
           padding:5px; 
        }
        .information{
            padding:3px;
            margin:0px;
            position:absolute;
            bottom:0;
            left:50%;
            transform: translateX(-50%);
        }
    }
    .play-unit-outer-wrap:hover{
        color:white;
        background-color: black;
    }
}


#show-one-play{
    .play-display{
        display:block;
        margin-bottom:8em; 
        text-align: center;

        h2{
            margin-bottom: 20px;   
        }
    }
    .play-pics-list{
        text-align: center;

        img{
            margin:10px;
            padding:0;
        }

        a:hover{
            background-color: transparent;
            text-decoration: none; 
        }
    }

    .student-contributions{
        
    }
}

.user-association-fields{
    .checkbox-list{
        input[type="checkbox"] {
          display: inline-block;
          width: 10%;
        }
        input[type="checkbox"] + label {
          display: inline-block;
          margin-left: 10%;
          width: 80%;
        }
    }
    
    .user-roles-text-list{
        input[type="text"]{
            display: block;
            width:100%;
        }
    }    
}


