// Place all the styles related to the static_routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#class-tabs{
    margin-top:4em;
    
}

.index-info{
    width:100%;
    min-height: 300px;
}