// Place all the styles related to the users_custom_routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.person{
    
    background-color: white;
    margin-bottom:50px;
    padding:10px;
    border-radius: 5px;
    
    .profile-pic{
        text-align: center;   
    }
    
    .not-approved{
        background-color: orange;        
    }
}