<footer>
    <div class="footer_left">
        <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, :method=>:delete,class:"btn btn-default"  %>
        <%else%>
            <%= link_to 'Login', new_user_session_path,class:"btn btn-default" %>
        <% end %>
    </div>
    
    <div class="footer_right">
        <p>gvarner@uaschools.org</p>
        <%= link_to 'UA Schools', "http://www.uaschools.org/"%>
    </div>
</footer>