<%= link_to "#{plays_path}/#{play.id}", class:'card' do %>
  <div class="card-img-wrap">
    <%= image_tag play.profile_image.url(:thumb) if play.profile_image.present? %>
  </div>
  <div class="card-content">
      <h4><%= play.title %></h4>
      <time><%= play.date_of_play.strftime("%B %d, %Y") %></time>
  </div>
<% end %>
