<%= link_to "#{plays_path}/#{play.id}", class:'play-unit-outer-wrap' do %>
    <div class="play-unit-inner-wrap">
        <%= image_tag play.profile_image.url(:thumb) if play.profile_image.present? %>
        <div class="information">
            <h4><%= play.title %></h4>
            <p><%= play.date_of_play.strftime("%B %d, %Y") %></p>
        </div>
    </div>
<% end %>