

<div id="login-wrap">
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, class:"btn btn-default", :method=>:delete) %>
      <%= link_to 'Edit Profile', edit_user_registration_path,class:"btn btn-default" %>        
    <% else %>
      <%= link_to 'Login', new_user_session_path,class:"btn btn-default" %>
      <%= link_to 'Register', new_user_registration_path,class:"btn btn-default" %>
    <% end %>
</div>